*{font-size:12px;}
body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
ul, li{
    margin:0;
    padding:0;
}
td{padding:1px 3px;}
span.disable{color:gray;}

.l-btn-plain,.l-btn-plain:hover{padding:1px; border-width:1px;}
.l-btn-plain{border-color:#ffffff;}
